/* ------------------------------ variables css ------------------------------ */
:root {
    --header-height: 3rem;

    /* color */
    --color-jade-dust: #00d2d3;
    --color-imperial-primer: #222f3e;
    --color-amour-red: #ee5253;
    --color-pastel-red: #ff6b6b;
    --color-body: #fff;

    /* font weight */
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weigth-700: 700;

    /* margenes bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* hover overlay */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ------------------------------ base ------------------------------ */

/* icon noel day treo */
.icon-noel-daytreo {
    opacity: .2;
}

/* ------------------------------ reusable css classes ------------------------------ */
.title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-500);
    color: var(--color-imperial-primer);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}

.title p {
    font-weight: var(--font-weight-400);
    font-size: var(--smaller-font-size);
    margin: 5px 0;
}


/* ------------------------------ travel details ------------------------------ */
.travel-details {
    background-color: rgba(200, 214, 229, .4);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.travel-details-header-box-1 .name {
    padding: .5rem 0;
    min-height: 74px;
    max-height: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.travel-details-header-box-1 .star-content {
    margin: .5rem 0;
    display: inline-block;
}

.travel-details-header-box-1 .count-like {
    display: inline-block;
    padding: .7rem 1rem;
    margin: .5rem;
    border-radius: .4rem;
    background-color: var(--color-amour-red);
    color: var(--color-body);
}

.travel-details-header-box-2 {
    width: 100%;
    margin-top: .5rem;
}

.travel-details-header-box-2 .money {
    color: var(--color-amour-red);
    font-weight: var(--font-weigth-700);
    font-size: 1.7rem;
    margin: 1rem 0;
}

.travel-details-header-box-2 .money span {
    color: var(--color-imperial-primer);
    font-weight: var(--font-weight-500);
    font-size: 1.1rem;
}

.travel-details-header-box-2 .btn:nth-child(2) {
    background-color: var(--color-pastel-red);
}

.travel-details-header-box-2 .btn:nth-child(2):hover {
    background-color: var(--color-amour-red);
}

.travel-details-header-box-3 {
    margin-top: 3rem;
}

.travel-details-header-box-3 img {
    border-radius: var(--mb-0-25);
}

.travel-details-header-box-4 .mieu-ta {
    margin-top: var(--mb-1);
    text-align: justify;
}

.travel-details-header-box-4 .thoi-gian {
    margin-top: var(--mb-1);
    background-color: var(--color-body);
    border-radius: var(--mb-0-25);
    padding: var(--mb-1);
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.travel-details-header-box-4 span {
    font-weight: var(--font-weigth-700);
}

/* ------------------------------ lịch trình chuyến đi ------------------------------ */
.travel-details__lich-trinh {
    background-color: var(--color-body);
    padding: var(--mb-2);
}

.travel-details__lich-trinh__box-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* thời gian */
.travel-details__lich-trinh__box-1 .left {
    display: none;
}

/* lịch trình chi tiết */
.travel-details__lich-trinh__box-1 .right-box {
    text-align: justify;
    margin-bottom: var(--mb-1-25);
}

.travel-details__lich-trinh__box-1 .right-box p {
    margin-top: var(--mb-0-5);
    margin-left: var(--mb-0-5);
    padding-left: var(--mb-1);
    border-left: 1px dashed var(--color-amour-red);
}

/* lưu ý phòng chóng dịch */
.travel-details__luu-y {
    margin-top: var(--mb-2-5);
    padding: 2rem;
}

.travel-details__luu-y ul {
    text-align: justify;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* tour du lich */
.tour-yeu-thich {
    margin-top: var(--mb-2-5);
}


/* @media screen */
@media screen and (min-width: 768px) {
    .travel-details {
        padding: 3rem 10%;
    }

    .travel-details__lich-trinh__box-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* thời gian */
    .travel-details__lich-trinh__box-1 .left {
        display: initial;
        background-color: rgba(200, 214, 229, .4);
        margin-right: var(--mb-1);
        margin-left: -2rem;
        padding: var(--mb-2);
    }

    .travel-details__lich-trinh__box-1 .right {
        width: 100%;
    }

    .travel-details__lich-trinh__box-1 .left ul {
        text-align: justify;
        list-style: inside;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: var(--font-weigth-700);
    }

    .travel-details__lich-trinh {
        background-color: var(--color-body);
        padding: var(--mb-2) 10% var(--mb-2) 2rem;
    }

    /* lưu ý phòng chóng dịch */
    .travel-details__luu-y {
        margin-top: var(--mb-2-5);
        padding: 2rem 10%;
    }
}


@media screen and (min-width: 1024px) {
    /* img - thoi gian - mieu ta */
    .travel-details-header-box-3-4 {
        display: flex;
        flex-wrap: nowrap;
    }

    .travel-details-header-box-4 {
        width: 130%;
        margin-top: var(--mb-2);
        padding: 0 0 0 2rem;

    }

    .btn__thanh-toan {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .btn__thanh-toan a {
        width: 40%;
    }

    .travel-details-header-box-4 .mieu-ta {
        height: 100px;
        overflow: auto;
    }
}

@media screen and (min-width: 1360px) {
    .travel-details-header-box-1-2 {
        display: flex;
        flex-wrap: nowrap;
    }

    .travel-details-header-box-2 {
        text-align: right;
    }

    .btn__thanh-toan {
        float: right;
    }

    .btn__thanh-toan a {
        width: 100%;
        padding: 1rem 4rem;
    }

    .travel-details-header-box-4 .mieu-ta {
        height: initial;
    }

    /* thời gian */
    .travel-details__lich-trinh__box-1 .left {
        margin-left: 0;
    }
    .travel-details__lich-trinh {
        padding: var(--mb-2) 10% var(--mb-2) 10%;
    }
}