<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
    <!-- pay -->
        <div class="payment">
        <form method="post" action="/thanh-toan" th:object="${item}">
        <input type="hidden" th:value="${item.bookingId.id}" name="idBooking">
        <input type="hidden" th:value="${item.price / 23000}" name="price">
            <div class="payment-container">
                <ol class="breadcrumb" th:if="${item.bookingId.payBoolean == false}">
                    <li><a href="#">Đặt tour</a></li>
                    <li><a href="#">Nhập thông tin</a></li>
                    <li><a href="#">Thanh toán</a></li>
                </ol>
                <ol class="breadcrumb" th:if="${item.bookingId.payBoolean == true}">
                    <li><a href="#">Đặt tour</a></li>
                    <li><a href="#">chi tiết đơn hàng</a></li>
                </ol>

                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-4">
                        <h5 class="big-heading">Thông tin cá nhân</h5>
                        <div class="headingform">Là thông tin cần thiết để công ty liên hệ khách hàng.</div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="headingbook">Họ tên:</div>
                                <div>[[${item.bookingId.booking_account_id.fullname}]]</div>
                            </div>
                            <div class="col-md-6">
                                <div class="headingbook">Số điện thoại:</div>
                                <div>[[${item.bookingId.booking_account_id.phone}]]</div>
                            </div>
                            <div class="col-md-6">
                                <div class="headingbook">Email:</div>
                                <div>[[${item.bookingId.booking_account_id.email}]]</div>
                            </div>
                            <div class="col-md-6">
                                <div class="headingbook">CMND/CCCD:</div>
                                <div>[[${item.bookingId.booking_account_id.id_Card}]]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="headingbook">Địa chỉ:</div>
                                <div>[[${item.bookingId.booking_account_id.address}]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="big-heading">Thông tin chuyến đi</h5>
                        <div class="headingform">Là thông tin tóm tắt về chuyến đi khách hàng đã đặt.</div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <img alt="imageportofolio" class="img-responsive h-img-309"
                                    src="http://on3-step.com/tf/plesire/img/gallery-home/img1.jpg">
                            </div>
                            <div class="col-md-6">
                                <p style="font-size: 2.5rem; margin-bottom: 17px;">[[${item.travelId.name}]]</p>
                                <p>
                            </div>
                        </div>
                        <div class="travel-detail-section1">
                            <p>Ngày khởi hành: <span> [[${item.travelId.hour}]]:00 [[${#dates.format(item.travelId.startDate, 'dd-MM-yyyy')}]]</span></p>
                            <p>Số Ngày: <span>[[${#dates.format(item.travelId.endDate, 'dd')} - ${#dates.format(item.travelId.startDate, 'dd')}]] Ngày</span></p>
                            <p>Nơi khởi hành: <span>[[${item.travelId.departurePlace}]]</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="big-heading">Thông tin thanh toán</h5>
                        <div class="headingform">Tóm tắt số tiền và số hàng khách.</div>
                        <hr>
                        <div class="detail">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Người lớn</td>
                                        <td class="t-price text-right" id="AdultPrice">[[${item.qtyNl}]]</td>
                                    </tr>
                                    <tr>
                                        <td>Trẻ em</td>
                                        <td class="t-price text-right" id="ChildrenPrice">[[${item.qtyTe}]]</td>
                                    </tr>
                                    <tr>
                                        <td>Trẻ nhỏ</td>
                                        <td class="t-price text-right" id="SmallChildrenPrice">[[${item.qtyTn}]]</td>
                                    </tr>
                                    <tr>
                                        <td>Em bé</td>
                                        <td class="t-price text-right" id="BabyPrice">[[${item.qtyEb}]]</td>
                                    </tr>
                                    <tr class="total">
                                        <td>Tổng cộng</td>
                                        <td class="t-price text-right" id="TotalPrice">[[${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                            	<a class="btn btn-primary" style="width:35%; height: 50px; line-height: 35px; margin-right: 3%; float: left;" href="/">
                                    <i class='bx bx-left-arrow-alt'></i> Trang chủ
                                </a>
                                <button type="submit" disabled="disabled" class="btn btn-danger" style="width:62%; height: 50px;" th:if="${item.bookingId.payBoolean == true}">
                                    Đã Thanh toán
                                </button>
                                <button type="submit" class="btn btn-danger" style="width:62%; height: 50px;" th:if="${item.bookingId.payBoolean == false}">
                                    Thanh toán
                                </button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            </form>
        </div>
        <!-- end pay -->
    </main>  
    </body>
</html>