<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- icon thanh địa chỉ -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <title>Thống kê Tour đã đặt | Nice Travel</title>
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/css/ruang-admin.min.css}" rel="stylesheet">
    <script src="https://code.angularjs.org/1.8.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- css -->
    <link th:href="@{/dashboard/css/admin.style.css}" rel="stylesheet">
</head>

<body id="page-top" ng-app="admin-app" ng-controller="admin-ctrl">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/admin/img/logo/logoNice.png}">
                </div>
                <div class="sidebar-brand-text mx-3">Nice Travel</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class='bx bxs-home'></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Thống kê
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/thongke-tourbooking">
                    <i class='bx bxs-dollar-circle'></i>
                    <span>Tour đã đặt</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/thongke-tourlike">
                    <i class='bx bxs-customize'></i>
                    <span>Tour yêu thích</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Quản lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
                    aria-expanded="true" aria-controls="collapsePage">
                    <i class='bx bxs-plane-alt'></i>
                    <span>Tour du lịch</span>
                </a>
                <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý tour du lịch</h6>
                        <a class="collapse-item" href="/admin/tour-du-lich">Quản lý chuyến đi</a>
                        <a class="collapse-item" href="/admin/travel-type">Địa điểm du lịch</a>
                        <a class="collapse-item" href="/admin/lich-trinh">Lịch trình chuyến đi</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
                    aria-expanded="true" aria-controls="collapseCustomer">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer"
                    data-parent="#collapseCustomer">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý khách hàng</h6>
                        <a class="collapse-item" href="/admin/thong-tin-khach-hang">Thông tin khách hàng</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff"
                    aria-expanded="true" aria-controls="collapseStaff">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Nhân viên</span>
                </a>
                <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nhân viên</h6>
                        <a class="collapse-item" href="/admin/thong-tin-nhan-vien">Thông tin nhân viên</a>
                    </div>
                </div>
            </li>

            <!-- cá nhân -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Cá nhân
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
                    aria-expanded="true" aria-controls="collapseUser">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Thông tin</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Thông tin cá nhân</h6>
                        <a class="collapse-item" href="/admin/information-admin">Thông tin cá nhân</a>
                        <a class="collapse-item" href="/admin/edit-information-admin">Thay đổi thông tin</a>
                        <a class="collapse-item" href="/admin/change-password">Đổi mật khẩu</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                    <i class='bx bx-log-out-circle'></i>
                    <span>Đăng xuất</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle">
                                <img class="img-profile rounded-circle" th:src="@{${account.getPhotosImagePath()}}"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">[[${#request.remoteUser}]]</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Thống kê chuyến du lịch</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chuyến du lịch</li>
                        </ol>
                    </div>

                    <div class="row mb-3">
                        <!-- các thẻ thống kê -->
                        <div class="col-xl-3">
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-xl-12 col-md-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Chuyến
                                                            đi được đặt trong tháng</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">[[${tourInMonth}]] chuyến đi
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class='bx bx-list-ol fa-2x'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-md-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Tổng
                                                            các chuyến đi được đặt</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">[[${tourDaDat}]] chuyến
                                                            đi</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class='bx bx-list-ol fa-2x'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-md-6 mb-4">
                                        <div class="card h-100">
                                            <div class="admin-search-date-1" style="width: 100%;">
                                                <form th:action="@{/admin/thongke-tourbooking}">
                                                    <div class="row">
                                                        <div class="col" style="margin-bottom: 10px;">
                                                            <input name="start" id="start" type="date" class="form-control" required="required">
                                                        </div>
                                                        <div class="col" style="margin-bottom: 10px; width: 100%;">
                                                            <input name="end" id="end" type="date" class="form-control" required="required">
                                                        </div>
                                                        <div class="col" style="width: 100%;">
                                                            <button class="btn btn-primary" style="height: 43px; width: 100%;">
                                                            <i class='bx bx-search-alt'></i> Tìm</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Area Chart -->
                        <div class="col-xl-9 col-lg-7">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary" th:text="${text}">Thống kê doanh
                                        Thu<br>(Revenue report)<br></h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- table booking -->
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mã đặt tour</th>
                                            <th scope="col">Tên chuyến đi</th>
                                            <th scope="col">Ngày đặt</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Giá</th>
                                            <!--  <th scope="col">Người đặt</th> -->
                                            <th scope="col">Trạng thái</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="p : ${inforTour}">
                                            <th scope="row" th:text="${p.bookingId.id}"></th>
                                            <td th:text="${p.travelId.name}">Mark</td>
                                            <td th:text="${#dates.format(new java.util.Date(p.bookingId.createdDate), 'dd-MM-yyyy')}">Otto</td>
                                            <td th:text="${p.totalQuantity}">>@mdo</td>
                                            <td th:text="${#numbers.formatCurrency(p.bookingId.totalPrice)}">>@mdo</td>
                                            <!-- <td  th:text="${p.bookingId.booking_account_id.username}"></td> -->
                                            <td style="color: #00CC33; font-weight: bold" th:if="${p.bookingId.payBoolean}" th:text="${p.bookingId.payBoolean} ? 'Đã thanh toán' : 'Chưa thanh toán' ">
                                            </td>
                                             <td style="color: #FF3333; font-weight: bold" th:unless="${p.bookingId.payBoolean}" th:text="${p.bookingId.payBoolean} ? 'Đã thanh toán' : 'Chưa thanh toán' ">
                                            </td>
                                     
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                              <nav aria-label="Page navigation example" th:if="${totalPage >1}">
                                <ul class="pagination justify-content-center">
                                    <li  th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                                        <a th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage-1)} :''}"
                                            class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">Previous</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li th:each="i : ${#numbers.sequence(1,totalPage)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{'?page='+ ${i}}" th:text="${i}"></a>
                                    </li>
                                    <li th:class="${currentPage == totalPage} ? 'page-item disabled' : 'page-item'">
                                        <a th:href="@{${currentPage < totalPage} ? ${'?page=' + (currentPage+1)}  : '' }"
                                            class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">Next</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--Row-->

                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh Không!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn có chắc chắn bạn muốn thoát ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Trở
                                        lại</button>
                                    <a th:href="@{/logoff}" class="btn btn-primary">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> - developed by
                            <b><a href="" target="_blank">NiceTravel Team</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/dashboard/js/ruang-admin.min.js}"></script>
    <script th:src="@{/dashboard/vendor/chart.js/Chart.min.js}"></script>
    <!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->
    <script th:inline="javascript">
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito',
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
        /*<![CDATA[*/
        var totalPriceLast6Months = /*[[${chartData}]]*/ 'default';
        /*]]>*/
        var arrayLabels = totalPriceLast6Months[0];
        var arrayData = totalPriceLast6Months[1];
        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: arrayLabels,
                datasets: [{
                    label: 'Số lượng tour đã đặt: ',
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.5)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: arrayData,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value.toLocaleString("vi-VN", {
<!--                                    style: "currency",-->
<!--                                    currency: "VND"-->
                                });
                                // 	              return number_format(value)+' tour' ;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,

                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ':' + number_format(tooltipItem.yLabel) + ' tour';
                        }
                    }
                }
            }
        });
    </script>

    <script>
        var app = angular.module("admin-app", []);
        app.controller("admin-ctrl", function ($scope, $http) {
            $scope.items = [];
            $scope.initialize = function () {

                // load travel đã đặt với ban đầu
                $http.get("/admin/TotalSold").then(resp => {
                    $scope.items = resp.data;
                    console.log($scope.items)
                }).catch(err => {
                    console.log("erro", err)
                })

                // load count travel
                $http.get("/admin/count/travel").then(resp => {
                    $scope.totalTravel = resp.data;
                    console.log($scope.totalTravel)
                })
                // }).catch(err => {
                //     console.log("erro",err)
                // })
                $http.get("/admin/count/bookingInDay").then(resp => {
                    $scope.bookingInDay = resp.data;
                    console.log($scope.bookingInDay)
                })

                // doanh thu trong ngày
                $http.get("/admin/total/RevenueInDay").then(resp => {
                    $scope.RevenueInDay = resp.data;
                    console.log($scope.RevenueInDay)
                })

                // tổng doanh thu
                $http.get("/admin/total/Revenue").then(resp => {
                    $scope.Revenue = resp.data;
                    console.log($scope.Revenue)
                })

                // tổng khách hàng
                $http.get("/admin/total/user").then(resp => {
                    $scope.totalUser = resp.data;

                    console.log($scope.totalUser)
                })
                // khách hàng so với tháng trước 
                $http.get("/admin/totalUserLastMonth").then(resp => {
                    $scope.totalUserLastMonth = resp.data;
                    console.log($scope.totalUserLastMonth)
                })

                // doanh thu so với năm trước
                // khách hàng so với tháng trước 
                $http.get("/admin/sinceYesterday").then(resp => {
                    $scope.revenueComparedLastYear = resp.data;
                    console.log($scope.revenueComparedLastYear)
                })

            }

            $scope.initialize();

            $scope.pager = {
                page: 0,
                size: 5,
                get items() {
                    var start = this.page * this.size;
                    return $scope.items.slice(start, start + this.size);
                },
                get count() {
                    return Math.ceil(1.0 * $scope.items.length / this.size);
                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.last();
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.first();
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }


        });


    </script>
</body>

</html>