
<footer class="footer" xmlns:th="http://www.thymeleaf.org">
        <!-- icon noel -->
        <img src="/assets/img/icon-noel/icon-noel-footer.png" alt="" class="footer-icon-noel">
        <img src="/assets/img/icon-noel/icon-noel-gau.png" alt="" class="footer-icon-noel-gau">
        <img src="/assets/img/icon-noel/icon-noel-chuong.png" alt="" class="footer-icon-noel-chuong">
        <img src="/assets/img/icon-noel/icon-noel-qua.png" alt="" class="footer-icon-noel-qua">

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch trong nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                    <li><a href="">Mũi Né</a></li>
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch ngoài nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Ứng dụng di động
            </h3>
            <div class="footer-context-ung-dung">
                <div class="box-ung-dung">
                    <p>Android</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
                <div class="box-ung-dung">
                    <p>iOS</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Liên hệ
            </h3>
            <div class="footer-context">
                <ul>
                    <li><a href="">Công viên Phần mềm Quang Trung, Quận 12, HCM</a></li>
                    <li><a href="">(+84) 352 363 014</a></li>
                </ul>
            </div>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-youtube-fill"></i>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Nice Travel
            </h3>
            <div class="footer-context">
                <button class="btn">1900 0001</button>
                <p>Từ 8:00 - 20:00 hàng ngày</p>
            </div>
        </div>
    </footer>