 <!-- footer -->
 <footer class="main text-center">
    <div class="container-fluid m-5-hor">
        <div class="row">

            <div class="onStep" data-animation="fadeInUp" data-time="300">
                <div class="col-md-4 text-left">
                    <span><a href="#">Email: danhpps13462@fpt.edu.vn</a></span>
                    <span>Copyright - 2021 Nice Travel</span>
                </div>

                <div class="col-md-4">
                    <span class="logo">
                        <img alt="logo" src="/assets/img/logoNiceTravel.png">
                    </span>
                </div>
 
                <div class="col-md-4 text-right">
                    <span>Công viên Phần mềm Quang Trung, Quận 12, HCM</span>
                    <span>Phone: (+84) 999 999 999</span>
                </div>
            </div>


        </div>
    </div>
</footer>
<!-- footer end -->