<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main th:object="${item}">
		<!-- subheader -->
        <section id="subheader">
        </section>
        <!-- subheader end -->
		<section aria-label="section-blog" id="content">
            <div class="container-fluid m-5-hor">
                <div class="row">

                    <!-- left content -->
                    <div class="col-md-3">
                        <div class="frm-search"
                            style="background: url('http://on3-step.com/tf/plesire/img/bg-search-ver.jpg');">
                            <div class="container-fluid m-5-hor m-5-hor-dev">
                                <div class="row">

                                    <form class="form-inline" id="sform">
                                        <div class="form-group">
                                            <h3 class="big-heading">Search Results</h3>
                                            <span class="result">9 Results Found</span>
                                        </div>
                                        <div class="form-group search-icn">
                                            <label for="key">Keyword</label>
                                            <input type="text" class="form-control" required id="key">
                                        </div>
                                        <div class="form-group">
                                            <label>Select your trip</label>
                                            <select name="select-trip" required="">
                                                <option value="">Any</option>
                                                <option value="#">City Travel</option>
                                                <option value="#">Cultural Travel</option>
                                                <option value="#">Family Travel</option>
                                                <option value="#">Holiday Travel</option>
                                                <option value="#">Luxury Travel</option>
                                                <option value="#">Wild &amp; Adventure Travel</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Destination</label>
                                            <select name="destination" required="">
                                                <option value="">Any</option>
                                                <option value="#">Asia</option>
                                                <option value="#">Africa</option>
                                                <option value="#">America</option>
                                                <option value="#">Australia</option>
                                                <option value="#">Europe</option>
                                                <option value="#">Rusia</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Duration</label>
                                            <select name="duraion" required="">
                                                <option value="">Any</option>
                                                <option value="#">1 Day Travel</option>
                                                <option value="#">2 Days Travel</option>
                                                <option value="#">3 Days Travel</option>
                                                <option value="#">4 Days Travel</option>
                                                <option value="#">5 Days Travel</option>
                                                <option value="#">1 week Travel</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Date</label>
                                            <div id="filterDate2">
                                                <!-- Datepicker as text field -->
                                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy"
                                                        required>
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input class="btn-frm-search" value="FIND NOW" type="submit">
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- section search end -->
                    </div>
                    <!-- left content end -->

                    <!-- right content -->
                    <div class="col-md-9">
                        <div class="row">

                            <div class="col-md-6 col-lg-4" th:each="p: ${items}">
                                <div class="gal-home travel-box">
                                    <a th:href="@{|/travel/detail/${p.id}|}">
                                        <div class="hovereffect">
                                            <img alt="imageportofolio" class="img-responsive"
                                                th:src="@{|/assets/img/${p.img}|}">
                                            <button class="like"><i class='bx bxs-heart'></i> Yêu thích</button>
                                        </div>
                                        <div class="gal-home-content travel-box-content">
                                            <p>$[[${p.startDate}]]</p>
                                            <h5><a th:href="@{|/travel/detail/${p.id}|}" th:utext="${p.name}"></a></h5>
                                            <br>
                                            <p>Số lượng: $[[${p.quantity}]]</p>
                                            <p>Nơi khởi hành: $[[${p.departurePlace}]]</p>
                                            <p>
                                                <h5 style="display: inline-block; color: rgba(238, 82, 83,1.0);">$[[${p.price}]]</h5> / người
                                            </p>
                                            <div>
                                                <a href="booking.html" class="travel-btn"><i class='bx bxs-cart-alt'></i> Đặt
                                                    ngay</a>
                                                <a th:href="@{|/travel/detail/${p.id}|}" style="float: right;">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="xem-them">
                            <button class="btn btn-primary btn-xem-them">Xem thêm</button>
                        </div>
                    </div>
                    <!-- right content end -->

                </div>
            </div>
        </section>
	</main>
</body>
</html>