<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main th:object="${item}">
        <!-- subheader -->
        <section id="subheader">
        </section>
        <!-- subheader end -->
        <section aria-label="section-blog" id="content">
            <div class="container-fluid m-5-hor">
                <div class="row">

                    <!-- left content -->
                    <div class="col-md-3">
                        <div class="frm-search"
                            style="background: url('http://on3-step.com/tf/plesire/img/bg-search-ver.jpg');">
                            <div class="container-fluid m-5-hor m-5-hor-dev">
                                <div class="row">

                                    <form class="form-inline" id="sform">
                                        <div class="form-group">
                                            <h3 class="big-heading">Tìm kiếm</h3>
                                            <span class="result">20 Tours du lịch hiện có</span>
                                        </div>
                                        <div class="form-group search-icn">
                                            <label><span class="ti-menu-alt color"></span> Điểm đi</label>
                                            <select class="cust-select" name="select-trip" required="">
                                                <option value="">Hồ Chí Minh</option>
                                                <option value="">Hà Nội</option>
                                                <option value="#">Đà Lạt</option>
                                                <option value="#">Vũng Tàu</option>
                                                <option value="#">Phú Quốc</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label><span class="ti-menu-alt color"></span> Điểm đến</label>
                                            <select class="cust-select" name="select-trip" required="">
                                                <option value="">Hồ Chí Minh</option>
                                                <option value="">Hà Nội</option>
                                                <option value="#">Đà Lạt</option>
                                                <option value="#">Vũng Tàu</option>
                                                <option value="#">Phú Quốc</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label><span class="ti-calendar color"></span> Date</label>
                                            <div id="filterDate2">
                                                <!-- Datepicker as text field -->
                                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy"
                                                        required="">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><span class="ti-time color"></span> Số ngày</label>
                                            <select class="cust-select" name="duraion" required="">
                                                <option value="">1 - 3</option>
                                                <option value="#">4 - 7</option>
                                                <option value="#">8 - 10l</option>
                                            </select>
                                        </div>
                                        <button class="btn-frm-search">Tìm kiếm</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- section search end -->
                    </div>
                    <!-- left content end -->

                    <!-- right content -->
                    <div class="col-md-9">
                        <div class="row">

                            <div class="col-md-6 col-lg-4" th:each="p: ${items}">
                                <div class="gal-home travel-box">
                                    <a th:href="@{|/travel/detail/${p.id}|}">
                                        <div class="hovereffect">
                                            <img alt="imageportofolio" class="img-responsive"
                                                th:src="@{|/assets/img/${p.img}|}">
                                        </div>
                                        <div class="gal-home-content travel-box-content">
                                            <p> [[${#dates.format(p.startDate, 'dd-MM-yyyy')}]]</p>
                                            <h5 style="min-height: 42px;"><a th:href="@{|/travel/detail/${p.id}|}" th:utext="${p.name}"></a></h5>
                                            <br>
                                            <p>Số lượng: [[${p.quantity}]]</p>
                                            <p>Nơi khởi hành: [[${p.departurePlace}]]</p>
                                            <p>
                                                <h5 style="display: inline-block; color: rgba(238, 82, 83,1.0);">[[${#numbers.formatCurrency(p.price)}]]</h5> / người
                                            </p>
                                            <div>
                                                <a th:attr="ng-click=@{|booking.add(${p.id})|}" th:href="@{|/booking/check/${p.id}|}" class="travel-btn"><i class='bx bxs-cart-alt'></i> Đặt
                                                    ngay</a>
                                                <a href="" class="travel-btn" style="padding: .8rem 1.8rem; background-color: rgb(9, 184, 253);"><i class='bx bxs-heart'></i></a>
                                                <a th:href="@{|/travel/detail/${p.id}|}" style="float: right;">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="xem-them">
                            <button class="btn btn-primary btn-xem-them">Xem thêm</button>
                        </div>
                    </div>
                    <!-- right content end -->

                </div>
            </div>
        </section>
	</main>
</body>
</html>