<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index2 :: dynamic(~{::head},~{::main})}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu | Nice Travel</title>
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">

    <!-- date jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/css/style.nicetravel.css}"/>

    <!-- slick sdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <!-- css responsive -->
    <link rel="stylesheet" th:href="@{/assets/css/style.responsive.css}">

    <script th:src="@{/dashboard/js/validation.js}"></script>
</head>
<body>
<main>

    <div id="fsignUp" style="width: 30%; margin: 180px auto" class="">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;
    font-size: 30px;">Quên mật khẩu</h4>
                    <!--                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                </div>
                <div class="modal-body">
                    <div style="margin: 10px; text-align: center" th:if="${error != null}">
                        <p id="form-message" class="text-danger form-message">[[${error}]]</p>
                    </div>
                    <div style="margin: 10px; text-align: center" th:if="${message != null}">
                        <p class="text-warning">[[${message}]]</p>
                    </div>
                    <form th:action="@{/forgot_password}" id="form"
                          method="post">
                        <div class="form-group">
                            <label style="font-size: 20px">Địa chỉ Email</label>
                            <input style="font-size: 16px" type="email" id="email" name="email" class="form-control"
                                   required="required" autofocus
                                   placeholder="Email của bạn">
                            <p style="padding: 10px 0; color: red" class="form-message text-danger"></p>
                        </div>
                        <div class="form-group"><input style="cursor: pointer; font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;" type="submit" value="Gửi yêu cầu"
                                                       class="btn btn-primary btn-block btn-lg">
                        </div>

                        <div class="clearfix"></div>
                    </form>

                </div>
                <div class="modal-footer" style="margin: 10px 0px">
                    <a href="/login" style="font-size: 14px">hoặc <span style="color: #ee5253">Đăng nhập</span></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Mong muốn của chúng ta
            Validator({
                form: '#form',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired("#email"),
                    Validator.isEmail("#email")
                ],
                onSubmit: function (data) {
                    // Call API
                    const formRegisterBtn = document.getElementById("form");
                    formRegisterBtn.submit();
                }
            });
        });
    </script>
</main>
</body>
</html>