<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking - Thông tin thanh toán | Nice Travel</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="assets/img/logoNiceIco.ico">

    <!-- date jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.nicetravel.css" />

    <!-- slick sdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <!-- css responsive -->
    <link rel="stylesheet" href="assets/css/style.responsive.css">

    <link rel="stylesheet" href="assets/css/breadcrumb/breadcrumb.css">

    <link rel="stylesheet" href="assets/css/style.booking-pay.css">
</head>

<body>
    <!-- icon noel dây treo -->
    <img src="assets/img/icon-noel/icon-noel-daytreo.png" alt="" class="icon-noel-daytreo">

    <!-- ------------------------------ header ------------------------------ -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav-logo">Nice Travel</a>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gioi-thieu" class="nav-link">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a href="travel.html" class="nav-link">Địa điểm du lịch</a>
                    </li>
                    <li class="nav-item">
                        <a href="#thong-tin" class="nav-link">Thông tin</a>
                    </li>
                </ul>

                <!-- icon close -->
                <i class="ri-close-line nav-close" id="nav-close"></i>
            </div>

            <!-- icon user -->
            <div class="nav-user">
                <a href="#user"><i class="ri-user-3-line"></i></a>
            </div>

            <!-- icon toggle -->
            <div class="nav-toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>


        </nav>
    </header>

    <!-- ------------------------------ main ------------------------------ -->
    <main class="main">
        <ul class="breadcrumb">
            <li><a href="#">Đặt chuyến đi</a></li>
            <li><a href="#">Thông tin</a></li>
            <li>Thanh toán</li>
        </ul>

        <!-- ------------------------------ booking pay ------------------------------ -->
        <div class="booking-pay">
            <!-- thông tin cá nhân -->
            <div class="booking-pay__ca-nhan">
                <div class="booking-pay__title">
                    <h2>Thông tin cá nhân</h2>
                    <p>Là thông tin cần thiết để công ty liên hệ khách hàng.</p>
                </div>
                <hr>
                <div class="booking-pay__ca-nhan__thong-tin">
                    <div class="form-control">
                        <label for="">Họ tên:</label>
                        <p style="padding: .5rem 0;">Huynh Phuoc Dan</p>
                    </div>
                    <div class="form-control">
                        <label for="">Email:</label>
                        <p style="padding: .5rem 0;">danhpps13462@fpt.edu.vn</p>
                    </div>
                    <div class="form-control">
                        <label for="">Số điện thoại:</label>
                        <p style="padding: .5rem 0;">0352 363 014</p>
                    </div>
                    <div class="form-control">
                        <label for="">CMND/CCCD:</label>
                        <p style="padding: .5rem 0;">291170081</p>
                    </div>
                    <div class="form-control" style="width: 100%;">
                        <label for="">Địa chỉ:</label>
                        <p style="padding: .5rem 0;">Cong vien phan mem Quang Trung</p>
                    </div>
                </div>
            </div>

            <!-- thông tin chuyến đi -->
            <div class="booking-pay__chuyen-di">
                <div class="booking-pay__title">
                    <h2>Thông tin chuyến đi</h2>
                    <p>Là thông tin tóm tắt về chuyến đi khách hàng đã đặt.</p>
                </div>
                <hr>
                <div class="booking-pay__chuyen-di__thong-tin">
                    <div class="booking-pay__chuyen-di__thong-tin__img-name">
                        <div class="img">
                            <img src="assets/img/photo/dalat.jpg" alt="">
                        </div>
                        <h3 class="name">
                            <a href="#">Vũng Tàu "Biển Hát " - Nhà Úp Ngược - Bảo Tàng Bà Rịa -
                                Bảo Tàng Bà Rịa - Bảo Tàng Bà Rịa - Bảo Tàng Bà Rịa</a>
                        </h3>
                    </div>
                </div>
                <div class="thoi-gian">
                    <p>Khởi hành <span>30/12/2021</span></p>
                    <p>Thời gian <span>3 ngày</span></p>
                    <p>Nơi khởi hành <span>Tp.Hồ Chí Minh</span></p>
                    <p>Số chỗ còn nhận <span>4</span></p>
                </div>
            </div>

            <!-- thông tin thanh toán -->
            <div class="booking-pay__thanh-toan">
                <div class="booking-pay__title">
                    <h2>Thông tin thanh toán</h2>
                    <p>Tóm tắt số tiền và số hàng khách.</p>
                </div>
                <hr>
                <div class="detail">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>Người lớn</td>
                                <td class="t-price text-right" id="AdultPrice">1 x 5,390,000₫</td>
                            </tr>
                            <tr>
                                <td>Trẻ em</td>
                                <td class="t-price text-right" id="ChildrenPrice">0₫</td>
                            </tr>
                            <tr>
                                <td>Trẻ nhỏ</td>
                                <td class="t-price text-right" id="SmallChildrenPrice">0₫</td>
                            </tr>
                            <tr>
                                <td>Em bé</td>
                                <td class="t-price text-right" id="BabyPrice">0₫</td>
                            </tr>
                            <tr class="total">
                                <td>Tổng cộng</td>
                                <td class="t-price text-right" id="TotalPrice">7,390,000₫</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a href="" class="btn btn__trang-chu">Về trang chủ</a>
                        <button class="btn btn-order" style="width:100% ">
                            ĐẶT NGAY
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <!-- ------------------------------ footer ------------------------------ -->
    <footer class="footer">
        <!-- icon noel -->
        <img src="assets/img/icon-noel/icon-noel-footer.png" alt="" class="footer-icon-noel">
        <img src="assets/img/icon-noel/icon-noel-gau.png" alt="" class="footer-icon-noel-gau">
        <img src="assets/img/icon-noel/icon-noel-chuong.png" alt="" class="footer-icon-noel-chuong">
        <img src="assets/img/icon-noel/icon-noel-qua.png" alt="" class="footer-icon-noel-qua">

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch trong nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                    <li><a href="">Mũi Né</a></li>
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch ngoài nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Ứng dụng di động
            </h3>
            <div class="footer-context-ung-dung">
                <div class="box-ung-dung">
                    <p>Android</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
                <div class="box-ung-dung">
                    <p>iOS</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Liên hệ
            </h3>
            <div class="footer-context">
                <ul>
                    <li><a href="">Công viên Phần mềm Quang Trung, Quận 12, HCM</a></li>
                    <li><a href="">(+84) 352 363 014</a></li>
                </ul>
            </div>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-youtube-fill"></i>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Nice Travel
            </h3>
            <div class="footer-context">
                <button class="btn">1900 0001</button>
                <p>Từ 8:00 - 20:00 hàng ngày</p>
            </div>
        </div>
    </footer>

    <!-- ------------------------------ scroll up ------------------------------ -->
    <a href="#" class="scroll-up" id="scroll-up">
        <i class="ri-arrow-up-line scrollup-icon"></i>
    </a>



    <!-- ------------------------------ js ------------------------------ -->
    <!-- jquery js -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <!-- slick sdn js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- scroll reveal -->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!-- main js -->
    <script src="assets/js/main.js"></script>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>
</body>

</html>