<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin chi tiết chuyến đi | Nice Travel</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="assets/img/logoNiceIco.ico">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.nicetravel.css" />

    <!-- slick sdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <!-- css responsive -->
    <link rel="stylesheet" href="assets/css/style.responsive.css">

    <link rel="stylesheet" href="assets/css/style.traveldetails.css">
</head>

<body>
    <!-- icon noel dây treo -->
    <img src="assets/img/icon-noel/icon-noel-daytreo.png" alt="" class="icon-noel-daytreo">

    <!-- ------------------------------ header ------------------------------ -->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav-logo">Nice Travel</a>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gioi-thieu" class="nav-link">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a href="travel.html" class="nav-link">Địa điểm du lịch</a>
                    </li>
                    <li class="nav-item">
                        <a href="#thong-tin" class="nav-link">Thông tin</a>
                    </li>
                </ul>

                <!-- icon close -->
                <i class="ri-close-line nav-close" id="nav-close"></i>
            </div>

            <!-- icon user -->
            <div class="nav-user">
                <a href="#user"><i class="ri-user-3-line"></i></a>
            </div>

            <!-- icon toggle -->
            <div class="nav-toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>


        </nav>
    </header>

    <!-- ------------------------------ main ------------------------------ -->
    <main class="main">
        <!-- ------------------------------ travel details ------------------------------ -->
        <section class="travel-details">
            <!-- ------------------------------ travel details ------------------------------ -->
            <div class="travel-details-header">
                <div class="travel-details-header-box-1-2">
                    <!-- tên chuyến đi - đánh giá -->
                    <div class="travel-details-header-box-1">
                        <h4><i class="ri-file-4-line"></i> Mã đơn hàng: 1</h4>
                        <h3 class="name">Khám phá Bình Châu - Thư giãn với suối khoáng nóng Minera - Tặng gói trải
                            nghiệm
                            dịch vụ VIP (Nhóm 4 khách)</h3>
                        <div class="star-content">
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-half-s-fill"></i>
                        </div>
                        <div class="count-like">
                            <i class="ri-heart-fill"></i>
                            <span>120</span>
                        </div>
                    </div>

                    <!-- giá tiền - button -->
                    <div class="travel-details-header-box-2">
                        <h2 class="money">
                            8.000.000 Vnd
                            <span>/ người</span>
                        </h2>
                        <div class="btn__thanh-toan">
                            <a href="" class="btn">Đặt ngay</a>
                            <a href="" class="btn">Liên hệ tư vấn</a>
                        </div>
                    </div>
                </div>

                <div class="travel-details-header-box-3-4">
                    <!-- img -->
                    <div class="travel-details-header-box-3">
                        <img src="assets/img/photo/dalat.jpg" alt="">
                    </div>

                    <!-- thời gian - miêu tả -->
                    <div class="travel-details-header-box-4">
                        <p class="mieu-ta">Tận hưởng dịch vụ thư giãn tại khu nghỉ dưỡng được Tổ chức Du lịch thế giới
                            (WTO)
                            công nhận. Thư giãn giữa thiên nhiên xanh mát và tái nạp năng lượng cùng Thế Giới Khoáng
                            Nóng
                            đầu tiên tại Việt Nam, gồm hơn 50 loại hình ngâm tắm khoáng kết hợp cùng các liệu trình được
                            các
                            chuyên gia thiết kế riêng tại Minera Hot Springs Bình Châu. Tận hưởng mọi đặc quyền dành
                            riêng
                            cho bạn trong thế giới khoáng nóng thu nhỏ Springs Retreat mang đến sự yên tĩnh tuyệt đối và
                            riêng tư trọn vẹn dành cho khách hàng VIP. Trải nghiệm các hoạt động ngoài trời như đạp xe
                            (chi
                            phí tự túc), câu cá sấu (chi phí tự túc), khám phá vườn thú v.v…
                        </p>

                        <div class="thoi-gian">
                            <p>Khởi hành <span>30/12/2021</span></p>
                            <p>Thời gian <span>3 ngày</span></p>
                            <p>Nơi khởi hành <span>Tp.Hồ Chí Minh</span></p>
                            <p>Số chỗ còn nhận <span>4</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- ------------------------------ lịch trình ------------------------------ -->
        <section class="travel-details__lich-trinh">
            <h3 class="title">Lịch trình chuyến đi</h3>

            <div class="travel-details__lich-trinh__box-1">
                <!-- thời gian lịch trình -->
                <div class="left">
                    <ul>
                        <li>Ngày 1 - TP.HCM - MINERA HOT SPRINGS BINH CHAU Số bữa ăn: 2 (trưa, tối)</li>
                        <li>Ngày 2 - TẬN HƯỞNG DỊCH VỤ VIP TẠI MINERA HOT SPRING Số bữa ăn: 3 bữa (Sáng, trưa, chiều)
                        </li>
                        <li>Ngày 3 - HỒ TRÀM – TP. HỒ CHÍ MINH Số bữa ăn: 2 bữa (Sáng, trưa)</li>
                    </ul>
                </div>

                <!-- lịch trình chi tiết -->
                <div class="right">
                    <div class="right-box">
                        <h4>Ngày 1 - TP.HCM - MINERA HOT SPRINGS BINH CHAU Số bữa ăn: 2 (trưa, tối)</h4>
                        <p>Xe đón Quý khách tại Vietravel (190 Pasteur, P. Võ Thị Sáu, Q.3). Đoàn khởi hành đi khu nghỉ
                            dưỡng Minera Hot Springs Bình Châu. Quý khách tự túc ăn sáng.
                        </p>
                    </div>

                    <div class="right-box">
                        <h4>Ngày 2 - TẬN HƯỞNG DỊCH VỤ VIP TẠI MINERA HOT SPRING Số bữa ăn: 3 bữa (Sáng, trưa, chiều)
                        </h4>
                        <p>Xe đón Quý khách tại Vietravel (190 Pasteur, P. Võ Thị Sáu, Q.3). Đoàn khởi hành đi khu nghỉ
                            dưỡng Minera Hot Springs Bình Châu. Quý khách tự túc ăn sáng.
                        </p>
                    </div>

                    <div class="right-box">
                        <h4>Ngày 3 - HỒ TRÀM – TP. HỒ CHÍ MINH Số bữa ăn: 2 bữa (Sáng, trưa)</h4>
                        <p>Xe đón Quý khách tại Vietravel (190 Pasteur, P. Võ Thị Sáu, Q.3). Đoàn khởi hành đi khu nghỉ
                            dưỡng Minera Hot Springs Bình Châu. Quý khách tự túc ăn sáng.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ------------------------------ lưu ý covid 19 ------------------------------ -->
        <section class="travel-details__luu-y">
            <h3 class="title">Phòng dịch covid 19</h3>
            <ul>
                <li>Việc điều chỉnh yêu cầu xét nghiệm covid và mũi tiêm có thể sẽ thay đổi theo quy định hiện hành của
                    Cơ quan Quản lý Nhà nước có thẩm quyền. Vui lòng liên hệ nhân viên tư vấn để biết thêm chi tiết.
                </li>
                <li>Trong trường hợp trong đoàn có phát sinh ca nghi nhiễm/nhiễm covid 19, khách hàng (bao gồm cả các
                    trường hợp được xác định là F1) có trách nhiệm phối hợp với Vietravel và chính quyền địa phương để
                    thực hiện các biện pháp cách ly/ điều trị theo quy định.</li>
                <li>Các chi phí phát sinh trong quá trình cách ly điều trị, bao gồm nhưng không giới hạn các chi phí xét
                    nghiệm, cách ly y tế, vận chuyển, lưu trú, bữa ăn, điều trị, chi phí cá nhân khác… sẽ không nằm
                    trong chi phí tour, dịch vụ và khách hàng tự chịu trách nhiệm chi trả.</li>
            </ul>
        </section>

        <!-- ------------------------------ tour du lịch yêu thích ------------------------------ -->
        <section class="tour-yeu-thich container">
            <div class="title">
                Tour du lịch yêu thích
            </div>
            <div class="box">
                <div class="box-1">
                    <!-- icon noel box -->
                    <div class="box-icon-noel">
                        <img src="assets/img/khung-noel.png" alt="" class="khung-noel">
                        <img src="assets/img/icon-noel/icon-noel-gau.png" alt="" class="icon-noel-gau">
                        <img src="assets/img/icon-noel/icon-noel-chuong.png" alt="" class="icon-noel-chuong">
                        <img src="assets/img/icon-noel/icon-noel-qua.png" alt="" class="icon-noel-qua">
                    </div>

                    <img class="img" src="assets/img/photo/dalat.jpg" alt="">
                    <div class="context">
                        <p>7:00 - 01-12-2022 - 1 ngày</p>
                        <h3 class="name">
                            <a href="#">Vũng Tàu "Biển Hát " - Nhà Úp Ngược - Bảo Tàng Bà Rịa -
                                Bảo Tàng Bà Rịa - Bảo Tàng Bà Rịa - Bảo Tàng Bà Rịa</a>
                        </h3>
                        <p>Số chỗ còn nhận: 4</p>
                        <p>Nơi khởi hành: Đà Nẵng</p>
                        <p>
                        <h3 style="color: rgba(238, 82, 83, 1.0);">
                            2.000.000 ₫ <span style="color: rgba(34, 47, 62,1.0); font-size: 1rem;">/ người</span></h3>
                        </p>
                        <div class="btn-box">
                            <a href="#" class="btn">Đặt ngay</a>
                            <a href="#" class="btn"><i class="ri-heart-3-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-1">
                    <!-- icon noel box -->
                    <div class="box-icon-noel">
                        <img src="assets/img/khung-noel.png" alt="" class="khung-noel">
                        <img src="assets/img/icon-noel/icon-noel-gau.png" alt="" class="icon-noel-gau">
                        <img src="assets/img/icon-noel/icon-noel-chuong.png" alt="" class="icon-noel-chuong">
                        <img src="assets/img/icon-noel/icon-noel-qua.png" alt="" class="icon-noel-qua">
                    </div>

                    <img class="img" src="assets/img/photo/dalat.jpg" alt="">
                    <div class="context">
                        <p>7:00 - 01-12-2022 - 1 ngày</p>
                        <h3 class="name"><a href="#">Vũng Tàu "Biển Hát " - Nhà Úp Ngược - Bảo Tàng Bà Rịa - Bảo Tàng Bà
                                Rịa</a></h3>
                        <p>Số chỗ còn nhận: 4</p>
                        <p>Nơi khởi hành: Đà Nẵng</p>
                        <p>
                        <h3 style="color: rgba(238, 82, 83, 1.0);">
                            2.000.000 ₫ <span style="color: rgba(34, 47, 62,1.0); font-size: 1rem;">/ người</span></h3>
                        </p>
                        <div class="btn-box">
                            <a href="#" class="btn">Đặt ngay</a>
                            <a href="#" class="btn"><i class="ri-heart-3-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-1">
                    <!-- icon noel box -->
                    <div class="box-icon-noel">
                        <img src="assets/img/khung-noel.png" alt="" class="khung-noel">
                        <img src="assets/img/icon-noel/icon-noel-gau.png" alt="" class="icon-noel-gau">
                        <img src="assets/img/icon-noel/icon-noel-chuong.png" alt="" class="icon-noel-chuong">
                        <img src="assets/img/icon-noel/icon-noel-qua.png" alt="" class="icon-noel-qua">
                    </div>

                    <img class="img" src="assets/img/photo/dalat.jpg" alt="">
                    <div class="context">
                        <p>7:00 - 01-12-2022 - 1 ngày</p>
                        <h3 class="name"><a href="#">Vũng Tàu "Biển Hát " - Nhà Úp Ngược - Bảo Tàng Bà Rịa - Bảo Tàng Bà
                                Rịa</a></h3>
                        <p>Số chỗ còn nhận: 4</p>
                        <p>Nơi khởi hành: Đà Nẵng</p>
                        <p>
                        <h3 style="color: rgba(238, 82, 83, 1.0);">
                            2.000.000 ₫ <span style="color: rgba(34, 47, 62,1.0); font-size: 1rem;">/ người</span></h3>
                        </p>
                        <div class="btn-box">
                            <a href="#" class="btn">Đặt ngay</a>
                            <a href="#" class="btn"><i class="ri-heart-3-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ------------------------------ footer ------------------------------ -->
    <footer class="footer">
        <!-- icon noel -->
        <img src="assets/img/icon-noel/icon-noel-footer.png" alt="" class="footer-icon-noel">
        <img src="assets/img/icon-noel/icon-noel-gau.png" alt="" class="footer-icon-noel-gau">
        <img src="assets/img/icon-noel/icon-noel-chuong.png" alt="" class="footer-icon-noel-chuong">
        <img src="assets/img/icon-noel/icon-noel-qua.png" alt="" class="footer-icon-noel-qua">

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch trong nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                    <li><a href="">Mũi Né</a></li>
                    <li><a href="">Đà Lạt</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hạ Long</a></li>
                    <li><a href="">Cố Đô - Huế</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Du lịch ngoài nước
            </h3>
            <div class="footer-context">
                <ul class="footer-context-ul">
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                    <li><a href="">Trung Quốc</a></li>
                    <li><a href="">Ấn Độ</a></li>
                    <li><a href="">Malaysia</a></li>
                    <li><a href="">Singapore</a></li>
                    <li><a href="">Hà Lan</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Ứng dụng di động
            </h3>
            <div class="footer-context-ung-dung">
                <div class="box-ung-dung">
                    <p>Android</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
                <div class="box-ung-dung">
                    <p>iOS</p>
                    <img src="https://travel.com.vn/Content/Theme/images/image42.png" alt="">
                </div>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Liên hệ
            </h3>
            <div class="footer-context">
                <ul>
                    <li><a href="">Công viên Phần mềm Quang Trung, Quận 12, HCM</a></li>
                    <li><a href="">(+84) 352 363 014</a></li>
                </ul>
            </div>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-youtube-fill"></i>
            </div>
        </div>

        <div class="footer-box">
            <h3 class="footer-title">
                Nice Travel
            </h3>
            <div class="footer-context">
                <button class="btn">1900 0001</button>
                <p>Từ 8:00 - 20:00 hàng ngày</p>
            </div>
        </div>
    </footer>

    <!-- ------------------------------ scroll up ------------------------------ -->
    <a href="#" class="scroll-up" id="scroll-up">
        <i class="ri-arrow-up-line scrollup-icon"></i>
    </a>



    <!-- ------------------------------ js ------------------------------ -->
    <!-- jquery js -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- slick sdn js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- scroll reveal -->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!-- main js -->
    <script src="assets/js/main.js"></script>

</body>

</html>