<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- icon thanh địa chỉ -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <title>Quản lý lịch trình chuyến đi | Nice Travel</title>
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/css/ruang-admin.min.css}" rel="stylesheet">
    <script src="https://code.angularjs.org/1.8.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- css -->
    <link th:href="@{/dashboard/css/admin.style.css}" rel="stylesheet">
    <script th:src="@{/dashboard/js/validation.js}"></script>
</head>

<body id="page-top" ng-app="admin-app" ng-controller="admin-ctrl">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/admin/img/logo/logoNice.png}">
                </div>
                <div class="sidebar-brand-text mx-3">Nice Travel</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class='bx bxs-home'></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Thống kê
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/thongke-tourbooking">
                    <i class='bx bxs-dollar-circle'></i>
                    <span>Tour đã đặt</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/thongke-tourlike">
                    <i class='bx bxs-customize'></i>
                    <span>Tour yêu thích</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Quản lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
                    aria-expanded="true" aria-controls="collapsePage">
                    <i class='bx bxs-plane-alt'></i>
                    <span>Tour du lịch</span>
                </a>
                <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý tour du lịch</h6>
                        <a class="collapse-item" href="/admin/tour-du-lich">Quản lý chuyến đi</a>
                        <a class="collapse-item" href="/admin/travel-type">Địa điểm du lịch</a>
                        <a class="collapse-item" href="/admin/lich-trinh">Lịch trình chuyến đi</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
                    aria-expanded="true" aria-controls="collapseCustomer">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer"
                    data-parent="#collapseCustomer">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý khách hàng</h6>
                        <a class="collapse-item" href="/admin/thong-tin-khach-hang">Thông tin khách hàng</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff"
                    aria-expanded="true" aria-controls="collapseStaff">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Nhân viên</span>
                </a>
                <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nhân viên</h6>
                        <a class="collapse-item" href="/admin/thong-tin-nhan-vien">Thông tin nhân viên</a>
                    </div>
                </div>
            </li>

            <!-- cá nhân -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Cá nhân
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
                    aria-expanded="true" aria-controls="collapseUser">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Thông tin</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Thông tin cá nhân</h6>
                        <a class="collapse-item" href="/admin/information-admin">Thông tin cá nhân</a>
                        <a class="collapse-item" href="/admin/edit-information-admin">Thay đổi thông tin</a>
                        <a class="collapse-item" href="/admin/change-password">Đổi mật khẩu</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                    <i class='bx bx-log-out-circle'></i>
                    <span>Đăng xuất</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle">
                                <img class="img-profile rounded-circle" th:src="@{${account.getPhotosImagePath()}}"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">[[${#request.remoteUser}]]</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div id="divThongBao">
                        <div id="thongBao" style="display: none;" role="alert" align="center">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span id="errorMessage" th:text="${errorMessage}"></span>
                            <span id="successMessage" th:text="${successMessage}"></span>
                        </div>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Quản lý lịch trình chuyến đi</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lịch trình chuyến đi</li>
                        </ol>
                    </div>

                    <!-- Row lich trình-->
                    <div class="row mb-3 lich-trinh-chuyen-di">
                        <div class="col-xl-3" th:each="item : ${listTravelDetail}">
                            <div class="card mb-4" style="padding: 2rem;">

                                <h4 th:text="${item.travelId.getName()}"></h4>
                                <p>
                                <h5>Thời gian: </h5>
                                <div  th:text="${item.time}" class="time">
                                </div>
                                </p>
                                <p>
                                <h5>Miêu tả:</h5>
                                <div  class="description" th:text="${item.description}">
                                </div>
                                </p>
                                <button id="submitUpdateLichTrinh" th:attr="onclick='editTravelDetail(\''+${item.id}+'\')'" type="button" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </div>

                    <!-- Row lich trình-->
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <div class="card mb-4" style="padding: 3rem;">
                                <form th:action="@{/admin/lich-trinh}" th:object="${travelDetailRequest}" id="form" method="POST">
                                    <input th:field="*{id}" id="id" readonly="false" type="text"
                                           class="form-control" hidden>
                                    <div class="form-group">
                                        <label>Thời gian di chuyển</label>
                                        <textarea th:field="*{time}" class="form-control" id="time"
                                            rows="3"></textarea>
                                        <p style="margin: 10px 0" class="form-message text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Chi tiết lịch trình</label>
                                        <textarea th:field="*{description}" class="form-control" id="description"
                                            rows="3"></textarea>
                                        <p style="margin: 10px 0" class="form-message text-danger"></p>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputState">Tên chuyến đi</label>
                                            <select id="inputState" class="form-control" th:field="*{travelId}">
                                                <option th:each="item : ${listTravelName}" th:value="${item.id}"
                                                        th:utext="${item.name}" ></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputState">Trang thái</label>
                                            <div class="form-control">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" th:field="*{isDeleted}" type="radio" name="inlineRadioOptions"
                                                        id="active" value="false">
                                                    <label class="form-check-label" for="inlineRadio1">Hoạt động</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" th:field="*{isDeleted}" type="radio" name="inlineRadioOptions"
                                                        id="inlineRadio2" value="true">
                                                    <label class="form-check-label" for="inlineRadio2">Ngưng hoạt động</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="submitCreate" class="btn btn-primary">Thêm</button>
                                    <button type="submit" id="submitUpdate" th:attr="onclick='updateTravelDetail()'" class="btn btn-primary">Cập nhật</button>
                                    <button type="button" class="btn btn-primary"  th:attr="onclick='cancelBtn()'">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh Không!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn có chắc chắn bạn muốn thoát ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Trở
                                        lại</button>
                                    <a th:href="@{/logoff}" class="btn btn-primary">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> - developed by
                            <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/dashboard/js/ruang-admin.min.js}"></script>
    <script th:src="@{/dashboard/vendor/chart.js/Chart.min.js}"></script>
    <!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->

    <script>
        document.getElementById("active").setAttribute("checked","checked")
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Mong muốn của chúng ta
            Validator({
                form: '#form',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired("#time"),
                    Validator.isRequired("#description")
                ],
                onSubmit: function (data) {
                    // Call API
                    const formRegisterBtn = document.getElementById("form");
                    formRegisterBtn.submit();
                }
            });
        });
    </script>


    <script th:inline="javascript">
        $(document).ready(function () {
            $('#fileImage').change(function () {
                showImageThumbnail(this)
            })
        })

        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            render = new FileReader();

            render.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
            }

            render.readAsDataURL(file);
        }

        function editTravelDetail(id) {
            console.log(id);
            var url = '/admin/lich-trinh/edit?id=' + id;
            console.log(url);
            var a = $('#inputState').val();
            console.log("Type" + a);
            $.get(url).done(function (fragment) {
                $("#form").replaceWith(fragment);
                $("#form").prop('action', '/admin/lich-trinh/edit');
                var imgUrl = $('#hiddenImgUrl').val();
                //     			$('#userImgUpload').prop('src','/admin/img/'+imgUrl);
                $('html,body').animate({
                    scrollTop: $("#form").offset().top
                }, 1000);
                $("#form :input").prop('readonly', false); // cho phép sửa
                $("input#username").prop('readonly', true); // tô xám
                $("#submitUpdate").prop('disabled', false);
            })
        };

        $("#createBtn").click(function () {
            $('html,body').animate({
                scrollTop: $("#form").offset().top
            }, 1000);
            $("#form :input").prop('readonly', false);
            $("#form").prop('action', '/admin/lich-trinh/edit');
            $("#submitCreate").prop('disabled', false);
        });

        function getAll() {
            window.location.assign('/admin/tour-du-lich/all')
            document.getElementById("exampleRadios1").setAttribute("checked", "checked")
        };
        function getAllTravelActive() {
            window.location.assign('/admin/tour-du-lich')
            document.getElementById("exampleRadios2").checked = true;
        };

        function getAllTravelNoActive() {
            window.location.assign('/admin/tour-du-lich/nonActive')
            document.getElementById("exampleRadios3").checked = true;
        };

        function getAllTravelExpires() {
            window.location.assign('/admin/tour-du-lich/expires')
            document.getElementById("exampleRadios4").checked = true;
        };

        function cancelBtn() {
            $('#time').val('');
            $('#description').val('');
            $('#fullname').val('');
            $('#form:input').prop('readonly', true);
            $('#submitUpdateLichTrinh').prop('disabled', true);
        };


        function updateTravelDetail() {
            $('#form').submit();

        };
        function createTravelDetail() {
            $('#form').submit();

        }

    </script>




    <script th:inline="javascript">
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito',
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
        /*<![CDATA[*/
        var totalPriceLast6Months = /*[[${chartData}]]*/ 'default';
        /*]]>*/
        var arrayLabels = totalPriceLast6Months[0];
        var arrayData = totalPriceLast6Months[1];
        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: arrayLabels,
                datasets: [{
                    label: 'Doanh thu: ',
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.5)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: arrayData,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value.toLocaleString("vi-VN", {
                                    style: "currency",
                                    currency: "VND"
                                });
                                // 	              return number_format(value)+'đ' ;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,

                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ':' + number_format(tooltipItem.yLabel) + 'đ';
                        }
                    }
                }
            }
        });
    </script>

    <script>
        var app = angular.module("admin-app", []);
        app.controller("admin-ctrl", function ($scope, $http) {
            $scope.items = [];
            $scope.initialize = function () {

                // load travel đã đặt với ban đầu
                $http.get("/admin/TotalSold").then(resp => {
                    $scope.items = resp.data;
                    console.log($scope.items)
                }).catch(err => {
                    console.log("erro", err)
                })

                // load count travel
                $http.get("/admin/count/travel").then(resp => {
                    $scope.totalTravel = resp.data;
                    console.log($scope.totalTravel)
                })
                // }).catch(err => {
                //     console.log("erro",err)
                // })
                $http.get("/admin/count/bookingInDay").then(resp => {
                    $scope.bookingInDay = resp.data;
                    console.log($scope.bookingInDay)
                })

                // doanh thu trong ngày
                $http.get("/admin/total/RevenueInDay").then(resp => {
                    $scope.RevenueInDay = resp.data;
                    console.log($scope.RevenueInDay)
                })

                // tổng doanh thu
                $http.get("/admin/total/Revenue").then(resp => {
                    $scope.Revenue = resp.data;
                    console.log($scope.Revenue)
                })

                // tổng khách hàng
                $http.get("/admin/total/user").then(resp => {
                    $scope.totalUser = resp.data;

                    console.log($scope.totalUser)
                })
                // khách hàng so với tháng trước 
                $http.get("/admin/totalUserLastMonth").then(resp => {
                    $scope.totalUserLastMonth = resp.data;
                    console.log($scope.totalUserLastMonth)
                })

                // doanh thu so với năm trước
                // khách hàng so với tháng trước 
                $http.get("/admin/sinceYesterday").then(resp => {
                    $scope.revenueComparedLastYear = resp.data;
                    console.log($scope.revenueComparedLastYear)
                })

            }

            $scope.initialize();

            $scope.pager = {
                page: 0,
                size: 5,
                get items() {
                    var start = this.page * this.size;
                    return $scope.items.slice(start, start + this.size);
                },
                get count() {
                    return Math.ceil(1.0 * $scope.items.length / this.size);
                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.last();
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.first();
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }


        });


    </script>

    <script >
        $(document).ready(function () {
            var err = $('#errorMessage').text();
            var success = $('#successMessage').text();
            if (err.length > 0) {
                $('#thongBao').addClass("alert alert-danger");
                $('#thongBao').css("display","block");
                setTimeout(function(){
                    $('#thongBao').fadeOut("slow");
                },4000);
                return;
            }
            if (success.length > 0) {
                $('#thongBao').addClass("alert alert-success");
                $('#thongBao').css("display","block");
                setTimeout(function(){
                    $('#thongBao').fadeOut("slow");
                },2000);
                return;

            }
        });

    </script>
</body>

</html>