<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/admin/img/logo/logoNiceIco.ico}" rel="icon">
    <title>Quản lý | Chỉnh sửa tour du lịch | Nice Travel</title>
    <link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/css/ruang-admin.min.css}" rel="stylesheet">

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- bootstrap -->

    <!-- css customize -->
    <link th:href="@{/admin/css/admin.style.css}" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/admin/img/logo/logoNice.png}">
                </div>
                <div class="sidebar-brand-text mx-3">Nice Travel</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class='bx bxs-home'></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Thống kê
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
                    aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class='bx bxs-dollar-circle'></i>
                    <span>Doanh thu</span>
                </a>
                <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Doanh thu</h6>
                        <a class="collapse-item" href="alerts.html">Alerts</a>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="dropdowns.html">Dropdowns</a>
                        <a class="collapse-item" href="modals.html">Modals</a>
                        <a class="collapse-item" href="popovers.html">Popovers</a>
                        <a class="collapse-item" href="progress-bar.html">Progress Bars</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable"
                    aria-expanded="true" aria-controls="collapseTable">
                    <i class='bx bxs-customize'></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Khách hàng</h6>
                        <a class="collapse-item" href="simple-tables.html">Simple Tables</a>
                        <a class="collapse-item" href="datatables.html">DataTables</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Quản lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
                    aria-expanded="true" aria-controls="collapsePage">
                    <i class='bx bxs-plane-alt'></i>
                    <span>Tour du lịch</span>
                </a>
                <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý tour du lịch</h6>
                        <a class="collapse-item" href="/admin/quan-ly/tour-du-lich">Danh sách tour</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
                    aria-expanded="true" aria-controls="collapseCustomer">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingCustomer"
                    data-parent="#collapseCustomer">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý khách hàng</h6>
                        <a class="collapse-item" href="/admin/thong-tin-khach-hang">Thông tin khách hàng</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff"
                    aria-expanded="true" aria-controls="collapseStaff">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Nhân viên</span>
                </a>
                <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Quản lý nhân viên</h6>
                        <a class="collapse-item" href="/admin/thong-tin-nhan-vien">Thông tin nhân viên</a>
                    </div>
                </div>
            </li>

            <!-- cá nhân -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Cá nhân
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
                    aria-expanded="true" aria-controls="collapseUser">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Thông tin</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Thông tin cá nhân</h6>
                        <a class="collapse-item" href="/admin/information-admin">Thông tin cá nhân</a>
                        <a class="collapse-item" href="/admin/edit-information-admin">Thay đổi thông tin</a>
                        <a class="collapse-item" href="/admin/change-password">Đổi mật khẩu</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="version" id="version-ruangadmin"></div>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-1 small"
                                            placeholder="What do you want to look for?" aria-label="Search"
                                            aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-warning badge-counter">2</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" th:src="@{/admin/img/man.png}"
                                            style="max-width: 60px" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been
                                            having.</div>
                                        <div class="small text-gray-500">Udin Cilok · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" th:src="@{/admin/img/girl.png}"
                                            style="max-width: 60px" alt="">
                                        <div class="status-indicator bg-default"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people
                                            say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Jaenab · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-tasks fa-fw"></i>
                                <span class="badge badge-success badge-counter">3</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Task
                                </h6>
                                <a class="dropdown-item align-items-center" href="#">
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Design Button
                                            <div class="small float-right"><b>50%</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item align-items-center" href="#">
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Make Beautiful Transitions
                                            <div class="small float-right"><b>30%</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 30%"
                                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item align-items-center" href="#">
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Create Pie Chart
                                            <div class="small float-right"><b>75%</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" th:src="@{admin/img/boy.png}"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">Huynh Phuoc Dan</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin cá nhân
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="bx bxs-lock-open-alt fa-fw mr-2 text-gray-400"></i>
                                    Đổi mật khẩu
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa tour du lịch</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa tour du lịch</li>
                        </ol>
                    </div>

                    <div class="row quan-ly-danh-sach-tour">
                        <!-- danh sách tour hôm nay -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Các tour trong tháng</h6>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>...</th>
                                                <th>Tên chuyến đi</th>
                                                <th>Địa điểm</th>
                                                <th>Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Danh sách tour đã xóa -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Tour du lịch yêu thích</h6>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Oblong T-Shirt
                                            <div class="small float-right"><b>600 of 800 Items</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Gundam 90'Editions
                                            <div class="small float-right"><b>500 of 800 Items</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Rounded Hat
                                            <div class="small float-right"><b>455 of 800 Items</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 55%"
                                                aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Indomie Goreng
                                            <div class="small float-right"><b>400 of 800 Items</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="small text-gray-500">Remote Control Car Racing
                                            <div class="small float-right"><b>200 of 800 Items</b></div>
                                        </div>
                                        <div class="progress" style="height: 12px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%"
                                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="table-danh-sach-tour w-90 card">

                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Tổng họp các tour du lịch</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Bộ lọc <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Thống kê</div>
                                        <a class="dropdown-item" href="#">Tất cả</a>
                                        <a class="dropdown-item" href="#">Tuần này</a>
                                        <a class="dropdown-item" href="#">Tháng này</a>
                                        <a class="dropdown-item" href="#">Năm này</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                            <button style="float: right" id="createBtn" type="button" class="btn btn-success">Create</button>
                                <!-- table danh sách tour du lịch -->
                                <table class="table">
                                    <thead>
                                        <tr style="background-color: #6777ef; color: #ffffff">
                                        	
                                            <!-- click đúp để chuyển sang trang chỉnh sửa -->
                                            <th scope="col">STT</th>
                                            <th scope="col">Name</th>
<!--                                             <th scope="col">Type</th> -->
                                            <th scope="col">Departure place</th>
                                            <th scope="col">Place</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Create date</th>
                                            <th scope="col">Start date</th>
                                            <th scope="col">End date</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Hour</th>
<!--                                             <th scope="col">Slug</th> -->
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="list,i : ${list}">
                                            <td th:text = "${i.index+1}"></th>
                                            <td th:text = "${list.name}"></td>
<!--                                             <td th:text = "${list.TravelTypes.id}"></td> -->
                                            <td th:text = "${list.departurePlace}"></td>
                                            <td th:text = "${list.place}"></td>
                                            <td th:text = "${list.price}"></td>
                                            <td th:text = "${list.createdDate}"></td>
                                            <td th:text = "${list.startDate}"></td>
                                            <td th:text = "${list.endDate}"></td>
                                            <td th:text = "${list.quantityNew}"></td>
                                            <td th:text = "${list.hour}"></td>
<!--                                             <td th:text = "${list.slug}"></td> -->
                                            <td align="center">
                                                <button th:attr="onclick='editTravel(\''+${list.id}+'\')'" class="btn btn-success" style="width: 40px">
													<i class="fa fa-edit" aria-hidden="true"></i>                                                        	
                                                </button>
                                                <a class="btn btn-danger" th:href="@{'/admin/tour-du-lich/delete?id=' +${list.id}}">
                                                     <i class="fa fa-trash" aria-hidden="true"></i>  
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="chinh-sua-tour w-90 card">
                            <form th:object= "${travelRequest}" id="form" method="POST" class="row col-12">
                                <div class="col-6 left">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputName">Name</label>
                                            <input th:field="*{name}" id = "name" 
                                            readonly="true" type="text" class="form-control" >
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPrice">Price</label>
                                            <input th:field="*{price}" id = "price" 
                                            readonly="true" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputDeparture">Departure place</label>
                                            <input th:field="*{departurePlace}" id = "departure_place" 
                                             readonly="true" type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPlace">Place</label>
                                            <input th:field="*{place}" id = "place" 
                                            readonly="true" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-row">
<!--                                         <div class="form-group col-md-4"> -->
<!--                                             <label for="inputCreateDate">Create date</label> -->
<!--                                             <input type="datetime-local" class="form-control" id="inputEndDate"> -->
<!--                                         </div> -->
                                        <div class="form-group col-md-4">
                                            <label for="inputStartDate">Start date</label>
                                            <input th:field="*{startDate}" id = "start_date" 
                                            readonly="true" type="date" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputEndDate">End date</label>
                                            <input th:field="*{endDate}" id = "end_date" 
                                            readonly="true" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputQuantity">Quantity</label>
                                            <input th:field="*{quantityNew}" id = "quantity_new" 
                                            readonly="true" type="number" class="form-control">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputHour">Hour</label>
                                            <input th:field="*{hour}" id = "hour" 
                                            readonly="true" type="number" class="form-control">
                                        </div>
<!--                                         <div class="form-group col-md-4"> -->
<!--                                             <label for="inputIsDeleted">Is Deleted</label> -->
<!--                                             <div class="form-control"> -->
<!--                                                 <div class="form-check form-check-inline"> -->
<!--                                                     <input class="form-check-input" type="radio" -->
<!--                                                         name="inlineRadioOptions" id="inlineRadio1" value="option1"> -->
<!--                                                     <label class="form-check-label" for="inlineRadio1">True</label> -->
<!--                                                 </div> -->
<!--                                                 <div class="form-check form-check-inline"> -->
<!--                                                     <input class="form-check-input" type="radio" -->
<!--                                                         name="inlineRadioOptions" id="inlineRadio2" value="option2"> -->
<!--                                                     <label class="form-check-label" for="inlineRadio2">False</label> -->
<!--                                                 </div> -->
<!--                                             </div> -->
<!--                                         </div> -->
                                    </div>
<!--                                     <div class="form-group"> -->
<!--                                         <label for="exampleSlug">Slug</label> -->
<!--                                         <textarea class="form-control" id="exampleSlug" rows="3"></textarea> -->
<!--                                     </div> -->
                                </div>
                                <div class="col-6 right">
                                    <div class="right-image">
                                        <img th:src="@{/admin/img/logo/logoNiceTravel.png}">
                                        <div class="form-group">
                                            <input type="file" id="inputQuantity">
                                        </div>
                                    </div>
                                    <div class="right-button">
                                        <button type="button" id="submitCreate" th:attr="onclick='createTravel()'" class="btn btn-success" disabled="true">Thêm</button>
                                        <button type="button" id="submitUpdate" th:attr="onclick='updateTravel()'" disabled="true" class="btn btn-primary">Chỉnh sửa</button>
<!--                                         <button type="button" class="btn btn-danger">Xóa</button> -->
                                        <button type="button" id="submitCacel" th:attr="onclick='cacelBtn()'" class="btn btn-secondary">Làm mới</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to logout?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary"
                                        data-dismiss="modal">Cancel</button>
                                    <a href="login.html" class="btn btn-primary">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>copyright &copy; <script>
                                document.write(new Date().getFullYear());
                            </script> - developed by
                            <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/admin/js/ruang-admin.min.js}"></script>
    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
    <!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->
    <script th:inline="javascript">
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito',
            '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
        /*<![CDATA[*/
        var totalPriceLast6Months = /*[[${chartData}]]*/ 'default';
        /*]]>*/
        var arrayLabels = totalPriceLast6Months[0];
        var arrayData = totalPriceLast6Months[1];
        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: arrayLabels,
                datasets: [{
                    label: 'Doanh thu: ',
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.5)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: arrayData,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return value.toLocaleString("vi-VN", {
                                    style: "currency",
                                    currency: "VND"
                                });
                                // 	              return number_format(value)+'đ' ;
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ':' + number_format(tooltipItem.yLabel) + 'đ';
                        }
                    }
                }
            }
        });
    </script>

    <!-- date time -->
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    
    <script th:inline="javascript">
    	function editTravel(id) {
    		var url ='/admin/tour-du-lich/edit?id=' +id;
        	$.get(url).done(function (fragment) {
    			$("#form").replaceWith(fragment);
    			$("#form").prop('action','/admin/tour-du-lich/edit');
    			var imgUrl = $('#hiddenImgUrl').val();
//     			$('#userImgUpload').prop('src','/admin/img/'+imgUrl);
    			$('html,body').animate({
    				scrollTop: $("#form").offset().top
    			},1000);
    			$("#form :input").prop('readonly',false); // cho phép sửa
    			$("input#username").prop('readonly',true); // tô xám
    			$("#submitUpdate").prop('disabled',false);
    		})
		};
    	
    	$("#createBtn").click(function() {
			$('html,body').animate({
				scrollTop: $("#form").offset().top
    		},1000);
			$("#form :input").prop('readonly',false);
			$("#form").prop('action','/admin/tour-du-lich/create');
			$("#submitCreate").prop('disabled',false);
		});
    	
    	function cacelBtn() {
			$('#name').val('');
			$('#email').val('');
			$('#fullname').val('');
			$('#password').val('');
			$('#confirmPass').val('');
			$('#phone').val('');
			$('#id_Card').val('');
			$('#address').val('');
			$('#form:input').prop('readonly',true);
			$('#submitUpdate').prop('disabled',true);
			$('#submitCreate').prop('disabled',true);
		};
    	
    	
    	function updateTravel() {
				$('#form').submit();
			
		};
    	 function createTravel() {
				$('#form').submit();
				
		}
    
    </script>
    
    <script >
    	$(document).ready(function () {
				var err = $('#errorMessage').text();
				var success = $('#successMessage').text();
				if (err.length > 0) {
					$('#thongBao').addClass("alert alert-danger");
					$('#thongBao').css("display","block");
					setTimeout(function(){
						$('#thongBao').fadeOut("slow");
					},2000);
					return;
				}
				if (success.length > 0) {
					$('#thongBao').addClass("alert alert-success");
					$('#thongBao').css("display","block");
					setTimeout(function(){
						$('#thongBao').fadeOut("slow");
					},2000);
					return;	
					
				}
			});
		
    </script>
</body>

</html>