<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index2 :: dynamic(~{::head},~{::main})}" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 | Nice Travel</title>

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">

    <!-- date jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/css/style.nicetravel.css}" />

    <!-- slick sdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">

    <!-- css responsive -->
    <link rel="stylesheet" th:href="@{/assets/css/style.responsive.css}">

    <!-- css customer -->
    <link rel="stylesheet" href="/assets/css/error.style.css">


</head>

<body>
    <main style="position: relative;
    margin-top: 190px;
    margin-bottom: 175px;
    padding: 170px;">
        <div class="error-403">
            <div class="error-box-403" style="margin-top: 90px">
                <div class="icon-bao-ve-403">
                    <img src="/assets/img/error/iconNguoiBaoVe403.png" alt="">
                </div>
                <div class="error-403-context">
                    <h1>Bạn không có quyền truy cập!</h1>
                </div>
<!--                <div class="icon-arrow-403">-->
<!--                    <img src="/assets/img/error/arrow403.png" alt="">-->
<!--                </div>-->
                <div id="backHome" style="margin-top: 40px" class="error-message-403"></div>
            </div>
        </div>
        <script>
            function Redirect() {
                window.location = "/";
            }

            function timeOut() {
                var i = 11
                var backHome = document.getElementById("backHome");

                setInterval(() => {
                    i--;
                    backHome.innerHTML = "Bạn sẽ được tự động quay lại trang chủ sau " + i + " giây.";
                }, 1000);
            }

            timeOut();
            setTimeout('Redirect()', 10000);
        </script>
    </main>

</body>

</html>