<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel Tour</title>
</head>
<body>
<h1>Cancel Tour</h1>

<form th:action="@{/customer/process-cancel-tour}" onsubmit="return validateForm()" name="formCancel" id="form-cancel"  th:object="${booking}"  method="post">
    <label>
        <input type="text" th:field="*{id}" readonly placeholder="id">
    </label>
    <label>
        <input type="text" th:field="*{address}" readonly placeholder="địa chỉ"/>
    </label>
    <label>
        <input type="text" th:field="*{createdDate}" readonly placeholder="ngày tạo"/>
    </label>
    <label>
        <input type="text" th:field="*{isDeleted}" readonly placeholder="is delete"/>
    </label>
    <label>
        <input type="text" th:field="*{phone}" readonly placeholder="phone"/>
    </label>
    <label>
        <input type="text" th:field="*{totalPrice}" readonly placeholder="total price"/>
    </label>
    <label>
        <input type="text" th:field="*{booking_account_id}" readonly placeholder="account id"/>
    </label>
    <label>
        <input type="text" th:field="*{verification_code}" readonly placeholder="Verify code"/>
    </label>
    <div class="cancel-tour">
        <form th:object="${events}" method="post">
            <label>
                <input type="text" id="title" name="title" th:field="*{title}" placeholder="Lý do hủy">
            </label>
            <label>
                <input type="text" id="description" name="description" th:field="*{description}" placeholder="Mô tả lý do"/>
            </label>

            <span class="message" id="msg" th:text="${message}"></span>

            <button type="submit" value="Gửi">Gửi</button>
        </form>
    </div>
</form>

<script>
    function validateForm(){
        var title = document.formCancel.title.value;
        var description = document.formCancel.description.value;
        var message = document.getElementById("msg");

        if (title==null || title==""){
            message.innerText = "Không được để trống tiêu đề";
            return false;
        }else if(description==null || description==""){
            message.innerText = "Không được để trống miêu tả";
            return false;
        }else {
            // message.innerText = "";
            return true;
        }
    }
</script>

</body>
</html>