<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- icon thanh địa chỉ -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <title>Khách hàng | Đổi mật khẩu | Nice Travel</title>
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/css/ruang-admin.min.css}" rel="stylesheet">

    <!-- css customize -->
    <link th:href="@{/dashboard/css/customer.style.css}" rel="stylesheet">

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/dashboard/js/validation.js}"></script>

</head>

<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/"
           style="background-color: #10ac84;">
            <div class="sidebar-brand-icon">
                <img th:src="@{/dashboard/img/logo/logoNice.png}">
            </div>
            <div class="sidebar-brand-text mx-3">Nice Travel</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="/customer">
                <i class='bx bxs-home'></i>
                <span>Trang chủ</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Quản lý
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm"
               aria-expanded="true" aria-controls="collapseForm">
                <i class='bx bxs-plane-alt'></i>
                <span>Tour du lịch</span>
            </a>
            <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/customer/tour-da-dat">Tour đã đặt</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Thông tin khách hàng
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/customer/information-customer">
                <i class='bx bxs-user-rectangle'></i>
                <span>Thông tin cá nhân</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/customer/edit-information-customer">
                <i class='bx bx-edit'></i>
                <span>Chỉnh sửa thông tin</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/customer/change-password"
               th:attr="onclick='editUser(\''+ ${#request.remoteUser} +'\')'">
                <i class='bx bxs-lock-alt'></i>
                <span>Đổi mật khẩu</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                <i class='bx bx-log-out-circle'></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopBar -->
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top"
                 style="background-color: #1dd1a1;">
                <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()">
                            <img class="img-profile rounded-circle" th:src="@{${userRequest.getPhotosImagePath()}}"
                                 style="max-width: 60px">
                            <span class="ml-2 d-none d-lg-inline text-white small" sec:authentication="name">Username></span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Container Fluid-->
            <div class="container-fluid customer-information height-change-password" id="container-wrapper">
                <div class="d-sm-flex justify-content-between mb-4 title">
                    <h1 class="h3 mb-0 text-gray-800">Đổi mật khẩu</h1>
                </div>

                <!-- row info -->
                <div class="information-box">
                    <!-- intro info -->
                    <div class="row box">
                        <div class="col-6">
                            <h5 style="font-weight: 600;">Tài khoản: [[${#request.remoteUser}]]</h5>
                            <p>
                                Việc thay đổi mật khẩu độ khó cao sẽ giúp bạn bảo mật tốt hơn.
                            </p>
                        </div>
                        <div class="col-6">
                            <img src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_scene_visible_360x128_18500c161aac04e9279fbb234b7de818.png"
                                 alt="">
                        </div>
                    </div>

                    <!-- edit information -->
                    <div class="row box box-border">
                        <div class="col-6" style="text-align: center; align-items: center;">
                            <i class='bx bxs-shield-alt-2' style="font-size: 300px;"></i>
                        </div>
                        <form th:action="@{/customer/change-password}" th:object="${userRequest}" id="form"
                              method="POST"
                              class="col-6">
                            <div th:if="${message != null}" class="m-3">
                                <p class="text-danger">[[${message}]]</p>
                            </div>
                            <div class="form-group">
                                <label for="oldPassword"><i class='bx bxs-lock-alt'></i> Mật khẩu cũ</label>
                                <input type="password" name="oldPassword" id="oldPassword" class="form-control">
                                <span class="form-message text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="newPassword"><i class='bx bxs-lock-open-alt'></i> Mật khẩu mới</label>
                                <input type="password" name="newPassword" id="newPassword" class="form-control">
                                <span class="form-message text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class='bx bx-lock-alt'></i> Nhập lại mật khẩu</label>
                                <input type="password" id="password" name="password" required
                                       oninput="checkPasswordMatch(this);" class="form-control">
                                <span class="form-message text-danger"></span>
                                <p id="message-check" style="margin-top: 10px"></p>
                                <div style="margin-top: 20px;">
                                    <button id="save" type="submit" disabled class="btn btn-primary btn-w-100">Lưu</button>
                                    <button th:attr="onclick='cancelBtn()'" type="button" class="btn btn-light btn-w-100">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end row info -->
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                            <span>copyright &copy; <script>
                                    document.write(new Date().getFullYear());
                                </script> - developed by
                                <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                            </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->

            <!-- Modal Logout -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh Không!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc mình muốn thoát?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Trở
                                lại
                            </button>
                            <a href="/logoff" class="btn btn-primary">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/dashboard/js/ruang-admin.min.js}"></script>
<script th:src="@{/dashboard/vendor/chart.js/Chart.min.js}"></script>
<!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
            form: '#form',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isPassword("#newPassword"),
                Validator.isPassword("#password")
            ],
            onSubmit: function (data) {
                // Call API
                const formRegisterBtn = document.getElementById("form");
                formRegisterBtn.submit();
            }
        });
    });
</script>

<script>
    $('#password, #newPassword').on('keyup', function () {
        if ($('#newPassword').val() === $('#password').val()) {
            $('#message-check').html('Mật khẩu khớp').css('color', 'green');
            $('#save').prop("disabled", false);
        } else {
            $('#message-check').html('Mật khẩu không khớp').css('color', 'red');
            $('#save').prop("disabled", true);
        }
    });
</script>

<script th:inline="javascript">

    function cancelBtn() {
        $('#oldPassword').val('');
        $('#newPassword').val('');
        $('#password').val('');
        $('#message-check').html('');
        $('.form-message').html('');
        $('#save').prop('disabled', true);
    }

</script>


<script th:inline="javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito',
        '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    /*<![CDATA[*/
    const totalPriceLast6Months = /*[[${chartData}]]*/ 'default';
    /*]]>*/
    const arrayLabels = totalPriceLast6Months[0];
    const arrayData = totalPriceLast6Months[1];
    // Area Chart Example
    const ctx = document.getElementById("myAreaChart");
    const myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: arrayLabels,
            datasets: [{
                label: 'Doanh thu: ',
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.5)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 3,
                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                pointBorderColor: "rgba(78, 115, 223, 1)",
                pointHoverRadius: 3,
                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: arrayData,
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function (value, index, values) {
                            return value.toLocaleString("vi-VN", {
                                style: "currency",
                                currency: "VND"
                            });
                            // 	              return number_format(value)+'đ' ;
                        }
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,

                callbacks: {
                    label: function (tooltipItem, chart) {
                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                        return datasetLabel + ':' + number_format(tooltipItem.yLabel) + 'đ';
                    }
                }
            }
        }
    });
</script>
</body>

</html>