<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- icon thanh địa chỉ -->
    <link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
    <title>Khách hàng | Nice Travel</title>
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard/css/ruang-admin.min.css}" rel="stylesheet">

    <!-- css customize -->
    <link th:href="@{/dashboard/css/customer.style.css}" rel="stylesheet">

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/"
                style="background-color: #10ac84;">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/dashboard/img/logo/logoNice.png}">
                </div>
                <div class="sidebar-brand-text mx-3">Nice Travel</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/customer">
                    <i class='bx bxs-home'></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Quản lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm"
                    aria-expanded="true" aria-controls="collapseForm">
                    <i class='bx bxs-plane-alt'></i>
                    <span>Tour du lịch</span>
                </a>
                <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/customer/tour-da-dat">Tour đã đặt</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Thông tin khách hàng
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/customer/information-customer">
                    <i class='bx bxs-user-rectangle'></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/customer/edit-information-customer">
                    <i class='bx bx-edit'></i>
                    <span>Chỉnh sửa thông tin</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/customer/change-password" th:attr="onclick='editUser(\''+ ${#request.remoteUser} +'\')'">
                    <i class='bx bxs-lock-alt'></i>
                    <span>Đổi mật khẩu</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed"href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                    <i class='bx bx-log-out-circle'></i>
                    <span>Đăng xuất</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top"
                    style="background-color: #1dd1a1;">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()">
                                <img class="img-profile rounded-circle" th:src="@{${account.getPhotosImagePath()}}"
                                     style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small" sec:authentication="name">Username></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Quản lý</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý</li>
                        </ol>
                    </div>

                    <div class="row mb-3">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Các tour du lịch
                                                đã đi
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">5 tour</div>
                                            <div class="mt-2 mb-0 text-muted text-xs">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Các tour đã đặt
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 tour</div>
                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                <a href="/customer/tour-da-dat">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shopping-cart fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Invoice Example -->
                        <div class="col-xl-8 col-lg-7 mb-4">
                            <!-- title -->
                            <div id='nz-div-2'>
                                <h3 class="tde">
                                    <span>Yêu Thích <i class='bx bxs-heart'></i></span>
                                </h3>
                                <hr>
                            </div>
                            <div class="card mb-4">

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Tên chuyến đi</th>
                                            <th scope="col">Địa điểm</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="p : ${items}">
                                            <td style="width: 14%;">
                                                <img th:src="@{|/assets/img/${p.travelId.img}|}" style="width: 100px;" alt="">
                                            </td>
                                            <td>
                                                <h5 style="font-weight: 700;">[[${p.travelId.name}]]</h5>
                                            </td>
                                            <td>[[${p.travelId.departurePlace}]]</td>
                                            <td>[[${p.travelId.price}]] vnđ</td>
                                            <td>
                                            	<a href="" class="btn btn-primary"><i class='bx bx-search'></i></a>
                                            	<a th:href="@{|/customer/delete/${p.id}|}" class="btn btn-primary">Xóa</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-5">
                            <div class="card">
                                <div
                                    class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between" style="background-color: #10ac84 !important;">
                                    <h6 class="m-0 font-weight-bold text-light">Các chuyến đã đi</h6>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Địa điểm</th>
                                            <th scope="col">Giá tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                Trắng - Bảo Tàng Làng Chài Xưa</a></td>
                                            <td style="font-size: 13px; font-weight: 700; color: #ee5253;">13,960,000 vnđ</td>
                                        </tr>
                                        <tr>
                                            <td><a href="">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                Trắng - Bảo Tàng Làng Chài Xưa</a></td>
                                            <td style="font-size: 13px; font-weight: 700; color: #ee5253;">13,960,000 vnđ</td>
                                        </tr>
                                        <tr>
                                            <td>Larry the Bird</td>
                                            <td style="font-size: 13px; font-weight: 700; color: #ee5253;">13,960,000 vnđ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Row-->

                        <!-- Modal Logout -->
                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelLogout">Ohh Không!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có chắc mình muốn thoát?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Trở
                                            lại</button>
                                        <a href="/logoff" class="btn btn-primary">Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!---Container Fluid-->
                </div>
            </div>
        </div>

        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script th:src="@{/dashboard/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>
        <script th:src="@{/dashboard/js/ruang-admin.min.js}"></script>
        <script th:src="@{/dashboard/vendor/chart.js/Chart.min.js}"></script>
        <!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->
    </div>
</body>

</html>