<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/admin/img/logo/logoNiceIco.ico}" rel="icon">
    <title>Khách hàng | Nice Travel</title>
    <link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/css/ruang-admin.min.css}" rel="stylesheet">

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/admin/img/logo/logoNice.png}">
                </div>
                <div class="sidebar-brand-text mx-3">Nice Travel</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/customer">
                    <i class='bx bxs-home'></i>
                    <span>Trang chủ</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Quản lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm"
                    aria-expanded="true" aria-controls="collapseForm">
                    <i class='bx bxs-plane-alt' ></i>
                    <span>Tour du lịch</span>
                </a>
                <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="form_basics.html">Tour đã đặt</a>
                        <a class="collapse-item" href="form_advanceds.html">Tour đi thành công</a>
                        <a class="collapse-item" href="form_advanceds.html">Tour yêu thích</a>
                    </div>
                </div>
            </li>
        
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Thông tin khách hàng
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/customer/information-customer/}">
                    <i class='bx bxs-plane-alt' ></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/customer/edit-information-customer">
                    <i class='bx bxs-user-rectangle' ></i>
                    <span>Chỉnh sửa thông tin</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/customer/change-password">
                    <i class='bx bxs-user-rectangle' ></i>
                    <span>Đổi mật khẩu</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="version" id="version-ruangadmin"></div>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-1 small"
                                            placeholder="What do you want to look for?" aria-label="Search"
                                            aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Quản lý</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý</li>
                        </ol>
                    </div>

                    <div class="row mb-3">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Các tour du lịch đã đi
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">5 tour</div>
                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                <a href="">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Các tour đã đặt</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 tour</div>
                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                <a href="">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shopping-cart fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Invoice Example -->
                        <div class="col-xl-8 col-lg-7 mb-4">
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Các tour yêu thích</h6>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>...</th>
                                                <th>Tên chuyến đi</th>
                                                <th>Địa điểm</th>
                                                <th>Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 17%;">
                                                    <img th:src="@{|/assets/img/dalat.jpg|}" style="width: 100%;"
                                                        alt="">
                                                </td>
                                                <td>
                                                    <h5 style="font-weight: 700;">Phan Thiết - Lâu Đài Rượu Vang - Bàu
                                                        Trắng - Bảo Tàng Làng Chài Xưa</h5>
                                                </td>
                                                <td>Sân Bay Tân Sơn Nhất</td>
                                                <td>13,960,000 vnđ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Message From Customer-->
                        <div class="col-xl-4 col-lg-5 ">
                            <div class="card">
                                <div
                                    class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-light">Message From Customer</h6>
                                </div>
                                <div>
                                    <div class="customer-message align-items-center">
                                        <a class="font-weight-bold" href="#">
                                            <div class="text-truncate message-title">Hi there! I am wondering if you can
                                                help me with a
                                                problem I've been having.</div>
                                            <div class="small text-gray-500 message-time font-weight-bold">Udin Cilok ·
                                                58m</div>
                                        </a>
                                    </div>
                                    <div class="customer-message align-items-center">
                                        <a href="#">
                                            <div class="text-truncate message-title">But I must explain to you how all
                                                this mistaken idea
                                            </div>
                                            <div class="small text-gray-500 message-time">Nana Haminah · 58m</div>
                                        </a>
                                    </div>
                                    <div class="customer-message align-items-center">
                                        <a class="font-weight-bold" href="#">
                                            <div class="text-truncate message-title">Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit
                                            </div>
                                            <div class="small text-gray-500 message-time font-weight-bold">Jajang Cincau
                                                · 25m</div>
                                        </a>
                                    </div>
                                    <div class="customer-message align-items-center">
                                        <a class="font-weight-bold" href="#">
                                            <div class="text-truncate message-title">At vero eos et accusamus et iusto
                                                odio dignissimos
                                                ducimus qui blanditiis
                                            </div>
                                            <div class="small text-gray-500 message-time font-weight-bold">Udin Wayang ·
                                                54m</div>
                                        </a>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a class="m-0 small text-primary card-link" href="#">View More <i
                                                class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>Do you like this template ? you can download from <a
                                    href="https://github.com/indrijunanda/RuangAdmin" class="btn btn-primary btn-sm"
                                    target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>
                        </div>
                    </div>

                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to logout?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary"
                                        data-dismiss="modal">Cancel</button>
                                    <a href="login.html" class="btn btn-primary">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/admin/js/ruang-admin.min.js}"></script>
    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
    <!--   <script th:src="@{/admin/js/demo/chart-area-demo.js}"></script>   -->
    
</body>

</html>