/* travel */
.travel-box {
    transition: 1s;
}
.travel-box:hover {
    -webkit-box-shadow: 5px 5px 20px 0 rgb(131 149 167 / 60%);
    top: -.7rem;
}
.travel-btn {
    padding: .8rem 2.3rem;

    background-color: rgba(16, 172, 132,1.0);
    border-radius: .5rem;
    color: #ffffff;
}
a.travel-btn:hover {
    background-color: rgba(238, 82, 83,1.0);
    color: #ffffff;
}
/* end travel */

/* travel detail */
.travel-detail {
    padding: 90px 0 0 0;
}
.travel-detail-row {
    width: 100%;
    background-color: #ffffff;
    display: inline;
}
.travel-detail-col-6 {
    width: 50%;
    float: left;
}
.travel-detail-section1 {
    width: 100%;
    min-height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 15px;
}
.travel-detail-section1 p span {
    color: black;
    font-weight: 600;
}
.travel-detail-btn-tu-van {
    padding: 15px 150px;
    background-color: rgba(16, 172, 132,1.0);
    border-radius: 5px;
    margin-left: 54px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}
.travel-detail-btn-tu-van:hover {
    color: #ffffff;
    background-color: rgba(238, 82, 83,1.0);
}
.travel-detail-lich-trinh {
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    padding: 20px 0 30px 0;
}
.travel-detail-lich-trinh-time {
    width: 80%;
    margin-top: 20px;
}
.travel-detail-lich-trinh-time p {
    margin-left: 70px;
    border-left: 5px dotted rgba(16, 172, 132,1.0);
    padding-left: 25px;
}
/* end travel detail */
