<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success</title>
	<!-- icon thanh ??a ch? -->
	<link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h3>B?n ?ã ??ng ký thành công!</h3>
		<p>Vui lòng ki?m tra email c?a b?n ?? xác th?c tài kho?n.</p>
		<h4><a th:href="@{/login}">Nh?n vào ?ây ?? ??ng nh?p</a></h4>
	</div>
	
</body>
</html>