<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>Registration Success</title>
	<!-- icon thanh ??a ch? -->
	<link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h3>Bạn đã đăng ký thành công!</h3>
		<p>Vui lòng kiểm tra email của bạn để xác thực tài khoản.</p>
		<h4><a th:href="@{/login}">Nhấp vào đây để đăng nhập</a></h4>
	</div>
	
</body>
</html>