<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>User Verification</title>
	<!-- icon thanh ??a ch? -->
	<link rel="shortcut icon" th:href="@{/assets/img/logoNiceIco.ico}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h3>Xin l?i, chúng tôi không th? xác minh tài kho?n. Nó có th? ?ã ???c xác minh ho?c mã xác minh không chính xác.</h3>
		<h4><a th:href="@{/}">Tr? v? trang ch?</a></h4>
	</div>
</body>
</html>