@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


/* error 404 */
.error-404 {
    background-image: url('/assets/img/error/error404.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.error-box-404 {
    width: 35%;
    min-height: 580px;
    text-align: center;
    padding: 80px 40px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
}

.number-404 {
    width: auto;
    max-width: 100%;
}

.error-404-title {
    margin-top: 40px;
}

.error-404-title h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.error-404-context {
    margin-top: 20px;
}

.error-404-context p {
    color: #ffffff;
    font-size: 23px;
}

.error-box-404 > button {
    margin-top: 20px;
    width: 250px;
    height: 70px;
    font-weight: 700;
    font-size: 25px;
}

/* error 403 */
.error-403 {
    background-image: url('/assets/img/error/error403.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.error-box-403 {
    background-image: url('/assets/img/error/iconWeb403.png');
    width: 970px;
    height: 573px;
    text-align: center;
    padding: 80px 40px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
}

.icon-bao-ve-403 img {
    width: 50%;
    transform: translate(0, -30%);
}

.error-403-context h1 {
    transform: translate(0, -370%);
    font-weight: 700;
}

.icon-arrow-403 img {
    transform: translate(-30%, -120%);
}

.error-message-403 {
    transform: translate(0, -1000%);
    color: #ee5253;
}